.section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  color: hsl(var(--foreground));
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.section .home_logo{
  
}

