.header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  height: var(--header);
  margin: 0 auto;
  padding: 8px 20px;
  border-bottom: 1px solid hsl(var(--border));
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 7px;
  background-color: hsl(var(--card));
}

.h_logo {
  cursor: pointer;
}
