.header {
  max-width: var(--max-width);
  height: var(--header);
  margin: 0 auto;
  padding: 8px 20px;
  border-bottom: 1px solid hsl(var(--border));
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 7px;
  background-color: var(--card);
  color: var(--primary);
}

.h_logo {
  cursor: pointer;
}
