.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}

.footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: hsl(var(--muted-foreground) / .5);
}

.footer .license {
  font-size: 12px;
  color: hsl(var(--muted-foreground) / .5);
}