.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  gap: 30px;
}

.nav a {
  flex: 1;
  padding: 12px 0;
  color: hsl(var(--foreground) / .6);
  font-size: 14px;
  font-weight: 300;
  transition: all 200ms ease-in-out;
}

.nav a:hover {
  color: hsl(var(--foreground) / .9);
  font-weight: 400;
}



